.block1{
    width: 400px;    /*Задание 1*/
    height:400px;
    background-color: aqua;
    box-shadow: 10px 10px 20px 40px;
}
.block2{
    width: 400px;
    height:400px;
    background-color: darkgray;
    box-shadow: 5px 5px 5px 5px;
}
/* Задание 2*/
.header1{
   
    text-shadow: 3px 3px 5px rgb(204, 250, 0);
}
.header2{
    text-shadow: 10px 10px 10px rgb(250, 0, 0);
}
/*Задание 3*/
.block3{
    width: 400px;
    height:400px;
    background:linear-gradient(to right , yellow,green);
    
}
.block4{
    width: 400px;
    height:400px;
    background:linear-gradient(to top , yellow,green);
}
/*Задание 4*/
.block5{
    width: 400px;
    height:400px;
    background:radial-gradient(circle at bottom , yellow,green);
}
.block6{
    width: 400px;
    height:400px;
    background:radial-gradient(circle at center , yellow,green);
}
/*Transformation&animation homework*/
/*Задание 1*/
.tr_block{
    width: 600px;
    height:400px;
    background-color: aqua; /*Поворачиваю на 45 градусов*/
    transform: rotate(45deg);
}
.tr_block2{
    width: 600px;
    height:400px;
    background-color: rgb(54, 0, 250); /*Увеличиваю размер в 2 раза*/
    transform: scale(2);
}
.tr_block3{
    width: 600px;
    height:400px;
    background-color: rgb(21, 250, 0); /*Опускаю элемент на 600px*/
    transform: translateY(600px);
    margin-bottom: 1000px;
}
.tr_block4{
    width: 600px;
    height:400px;
    background-color: rgb(255, 196, 0); /*Наклон блока по X-20 градусов и Y-10 градусов*/
    transform: skew(20deg , 10deg);
    margin-bottom: 1000px;
}
/*Задание 2*/
.tr_block5{
    width: 600px;
    height:400px;
    background-color: rgb(0, 68, 156);
    margin-bottom: 1000px;
}
.tr_block5:hover{
    transform:scale(2);/*Увеличивает размер в 2 раза при наведении в течении 1 секунды*/
    transition: 1s;
}
/*Задание 3*/
.tr_block6{
    width: 600px;
    height:400px;
    background-color: rgb(247, 0, 255);
    margin-bottom: 1000px;
    animation:Resize 3s ease-in-out 1s infinite;
}
@keyframes Resize{
    0%{
        transform:scale(1);       /*Анимация в три этапа бесконечная меняет размер и цвет в три этапа*/
        background-color:red;
    }
    50%{
        transform:scale(1.5);
       background-color:yellow;
    }
    100%{
        transform:scale(2);
        background-color: green;
    }
}